<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>5_字典转模型,kvc实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5406B9901F63D772000E3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5406B9A91F63D772000E3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5406B9B41F63D772000E3026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
